doctype html
html
  head
    style
        include global.css
  body
  main(id=app)
    p #{name}'s Pug source code!
    h2 Quality Engineering Maturity Assesment

    p Thank you for using and showing some ♥ for QE-Mature.
    a(href='https://github.com/ale-sanchez-g/qe-mature') QE-Mature in Github
    |
    |
    p If you like QE-Mature, please give it a star
    |
    |
    p Let's get started.
    |
    |
    a(href='/org') Set up your Organisation
